* { 
    box-sizing: border-box;
} 

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2b2252;
    background-image: url('../images/swirl.jpg');
}

.container {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child{
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #b1a1fa;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    padding-bottom: 20px;
    border-bottom: 3px solid #b1a1fa;
}

h2, h3 { 
    font-size: 20px;
}

/* Main */
#main-container {
    padding-top: 130px;
    min-height: 100%;
}

.main-section {
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 40px 40px 0;
    float: left;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}

.auth-image { 
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

/* Sidebar */
.sidebar {
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}

.sidebar a:hover img {
    border: 3px solid #e4a7f0;
}

.sidebar, h2, h3 { 
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.social:last-child { 
    margin-right: 0;
}

/* Portfolio */
.work {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.work:nth-child(even) { 
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
}

.work h3 { 
    width: 100%;
    position: absolute;
    bottom: 15px;
    padding: 10px;
    line-height: 25px;
    border-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 50;
    background: #a974ff;
    color: #fff;
    opacity: .9;
}




/* Footer */
footer {
    padding: 30px 0;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    margin-top: -100px;
    border-top: 4px solid #9a84ff;
    background: #2b2252;
}

